
.mat-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 450px;
    width: 410px;
    margin: 15px;
    padding: 20px 3px;
}

img {
    justify-content: center;
    width: 400px;
    height: 350px;
    object-fit: contain;
}

