<mat-card class="synopsis">
    <mat-card-title class="movie-synopsis-title">{{ data.Title }}</mat-card-title>
    <br />
    <mat-dialog-content class="movie-content">
        <img src={{data.ImagePath}} alt= {{data.Title}} />
    <br/>
        <b>Description: </b>{{ data.Description }}
    </mat-dialog-content>
    <mat-card-actions class="genre-actions">
        <button
        class="synopsis-close-button"
        mat-stroked-button
        aria-label="Close the synopsis details button"
        mat-dialog-close
        color="primary"
        >
           Close
        </button>
    </mat-card-actions>
</mat-card>
