<app-navbar></app-navbar>
<mat-card>
    <mat-card-header>
      <mat-card-title>{{user.Username}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <b>Name: </b>{{user.Name}}<br>
        <b>Birthday: </b>{{user.Birthday | date}}<br>
        <b>Email: </b>{{user.Email}}<br>

    </mat-card-content>    
     
    <mat-card-actions>
        <button
          mat-raised-button
          (click)="openEditUserDialog(user.name, user.birthday, user.email)"
          color="primary"
        >
          Edit
        </button>
    </mat-card-actions>
    
</mat-card>