<app-navbar></app-navbar>
<mat-card>
    <mat-card-header>
      <mat-card-title>{{user.Username}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <b>Name: </b>{{user.Name}}<br>
        <b>Birthday: </b>{{user.Birthday | date}}<br>
        <b>Email: </b>{{user.Email}}<br>

    </mat-card-content>    
     
    <mat-card-actions>
        <button
          mat-raised-button
          (click)="openEditUserDialog(user.name, user.birthday, user.email)"
          color="primary"
        >
          Edit
        </button>
    </mat-card-actions>
</mat-card>

<div class="favorite-movies-header">
  <h2 class="mat-card-favorite-movies">Favorite Movies</h2>
</div>
<div class="favorite-movies-container">
  <mat-card *ngFor="let movie of favoriteMovies;" class="favorite-movies" style="flex: 1 1 auto;">
      <mat-card-header class="favorite-movies-title-header">
          <mat-card-title class="favorite-movies-title">
            {{movie.Title}}
          </mat-card-title>
          <mat-card-subtitle class="director">Directed by: 
              <button 
                class="director-button"
                mat-button
                color="grey"
                (click)="openDirectorDialog(
                  movie.Director.Name,
                  movie.Director.Bio,
                  movie.Director.Birth
                  )"
              > 
                {{movie.Director.Name}}
              </button>
          </mat-card-subtitle>
      </mat-card-header>
          <img src={{movie.ImagePath}} alt= {{movie.Title}} />
          <mat-card-actions>
            <button
              class="genre-button"
              mat-raised-button
              color="primary"
              (click)="openGenreDialog(
                movie.Genre.Name,
                movie.Genre.Description
                )"
            >
              {{movie.Genre.Name}}
            </button>
      
            <button
              class="synopsis-button"
              mat-raised-button
              color="primary"
              (click)="openSynopsisDialog(
                movie.Title,
                movie.Description,
                movie.ImagePath
                )"
            >
              Synopsis
            </button>
      
              <mat-card-actions>
                <button 
                  class="delete-fav-button"
                  mat-icon-button 
                  (click)="deletFavorite(movie._id)"
                >
                  <mat-icon>delete_outline</mat-icon>
                </button>
              </mat-card-actions>
          </mat-card-actions>
  </mat-card>
</div>